@font-face {
  font-family: Huge;
  src: url(../../fonts/HugeGothic-Bold.woff) format("woff"),
    url(../../fonts/HugeGothic-Bold.ttf) format("truetype");
}

@font-face {
  font-family: TobiasRegular;
  src: url(../../fonts/Tobias-Regular.ttf) format("truetype");
}

:root {
  --huge-black: #141414;
  --huge-green: #3dfb8b;
  --huge-gray: #f8f7ff;
  --huge-white: #ffffff;

  --huge-font: Huge;
  --tobias-font: TobiasRegular;

  font-family: var(--tobias-font);
  font-size: 14px;
}

h1,
h2 {
  font-family: var(--huge-font);
}

.hero {
  --hero-font-size: clamp(1.5rem, 7vw, 7rem);
  display: grid;
  grid-template-columns: 1fr minmax(0, 0.5fr) 1fr;
  background-color: var(--huge-black);
  min-height: calc(var(--hero-font-size) * 5);
}

.hero > .model {
  grid-column: 2 / span 2;
  grid-row: 1;
  height: 100%;
  width: 100%;
}

.hero > .copy {
  grid-column: 1 / span 2;
  grid-row: 1;
  align-self: center;
  padding-left: 0.5em;
  font-size: var(--hero-font-size);
  color: var(--huge-white);
  /* We need to set the z-index to force the div to be on top. */
  z-index: 1;
}
